.content {
    height: 12645px;
    .product__list {
        width: 90%;
        height: 4150px;
        margin-left: 10%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        .product {
            width: 250px;
            height: 460px;
            p {
                padding-top: 10px;
            }
        }
    }
    .more {
        display: none;
    }
    .collab {
        width: 100%;
        height: 4390px;
        background: url(../img/bg_collab.jpg) no-repeat center;
        .collab__title {
            text-align: center;
            width: 100%;
            img {
                width: 80%;
                transform: translateY(-3px);
            }
            h3 {
                width: 50%;
                font-size: 40px;
                margin-left: 27%;
                transform: translateY(-60px);
            }
        }
        .collab_1 {
            display: flex;
            height: 600px;
            margin-left: 5%;
            .collab__img {
                margin-left: 5%;
                position: absolute;
                z-index: 2;
                box-shadow: 15px 15px rgba(0, 0, 0, 0.05);
            }
            .collab_title_1 {
                width: 760px;
                height: 500px;
                background: #ffffff;
                transform: translateX(75%) translateY(45px);
                position: relative;
                box-shadow: 15px 15px rgba(0, 0, 0, 0.05);
                img:nth-child(1) {
                    position: absolute;
                    z-index: 2;
                    margin-left: 50%;
                    transform: translateY(45px);
                }
                img:nth-child(2) {
                    display: none;
                }
                p {
                    font-size: 16px;
                    width: 290px;
                    margin-left: 50%;
                    transform: translateY(310px);
                }
            }
        }
        .product__collab {
            width: 80%;
            height: 1100px;
            margin-left: 10%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            .product {
                width: 250px;
                height: 460px;
                p {
                    padding-top: 10px;
                }
            }
        }
        .collab_2 {
            display: flex;
            height: 600px;
            margin-left: 5%;
            .collab__img {
                margin-left: 35%;
                position: absolute;
                z-index: 2;
                box-shadow: 15px 15px rgba(0, 0, 0, 0.05);
            }
            .collab_title_1 {
                width: 50%;
                height: 500px;
                background: #ffffff;
                transform: translateX(10%) translateY(45px);
                position: relative;
                box-shadow: 15px 15px rgba(0, 0, 0, 0.05);
                img:nth-child(1) {
                    position: absolute;
                    z-index: 2;
                    transform: translateX(70%) translateY(75px);
                }
                img:nth-child(2) {
                    display: none;
                }
                p {
                    font-size: 16px;
                    width: 305px;
                    transform: translateX(10%) translateY(310px);
                }
            }
        }
        .jetcap {
            height: 530px;
        }
    }
    .outdoors {
        width: 100%;
        height: 710px;
        background: url(../img/bg_outdoors.jpg);
        text-align: center;
        color: #ffffff;
        h4 {
            font-size: 40px;
            padding-top: 200px;
        }
        p {
            font-size: 20px;
            padding-top: 100px;
        }
    }
    .about {
        padding: 95px 250px 0 250px;
        h4 {
            font-size: 32px;
            transform: translateX(-1%) translateY(-200%);
        }
        p {
            font-size: 24px;
        }
    }
    .setout {
        width: 100%;
        height: 485px;
        background: url(../img/bg_collab.jpg) no-repeat center;
        margin-top: 200px;
        img {
            margin-left: 7%;
            padding-left: 5%;
            transform: translateY(-41%);
        }
    }
    video {
        width: 70%;
        height: 620px;
        transform: translateX(25%) translateY(-40%);
    }
    .director {
        display: flex;
        img {
            width: 300px;
            height: 300px;
            margin-left: 15%;
        }
        .info {
            width: 570px;
            transform: translateX(70px);
            font-weight: bold;
            p {
                font-size: 16px;
            }
            h4 {
                font-size: 36px;
                padding-bottom: 10px;
            }
            h5 {
                font-size: 20px;
                padding-bottom: 20px;
            }
        }
    }
    .introduction {
        margin: 70px 250px 70px 250px;
        h4 {
            font-size: 30px;
            transform: translateX(10px) translateY(-75%);
        }
        .introduction_info {
            display: flex;
            .introduction_img {
                padding-right: 50px;
                p {
                    font-size: 18px;
                    padding-top: 20px;
                }
            }
        }
    }
    .events {
        margin: 70px 250px 70px 250px;
        .events_info {
            padding: 30px 0px 30px 0px;
        }
        h4 {
            font-size: 30px;
            transform: translateX(25px) translateY(-75%);
        }
        span {
            color: #b9b9b9;
        }
        p {
            font-weight: bold;
        }
    }
}

@media (max-width: 640px) {
    .content {
        width: 100%;
        height: auto;
        margin-top: 300px;
        .product__list {
            width: 100%;
            height: auto;
            margin-left: 25px;
            margin-right: 25px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            .product:nth-child(n + 5) {
                display: none;
            }
        }
        .more {
            display: block;
            width: 100%;
            height: 300px;
            text-align: center;
            padding-top: 25%;
            font-size: 24px;
            color: #6a7da5;
        }
        .collab {
            width: 100%;
            height: auto;
            background: url(../img/bg_collab.jpg) no-repeat center;
            .collab__title {
                text-align: center;
                img {
                    width: 95%;
                    transform: translateY(-3px);
                }
                h3 {
                    width: 100%;
                    font-size: 30px;
                    transform: translateX(0) translateY(-40px);
                }
            }
            .collab_1 {
                display: block;
                height: 600px;
                .collab__img {
                    margin-left: 0;
                    width: 583px;
                    height: 390px;
                    position: absolute;
                }
                .collab_title_1 {
                    width: 90%;
                    height: 710px;
                    transform: translateX(25px) translateY(5%);
                    position: relative;
                    box-shadow: 15px 15px rgba(0, 0, 0, 0.05);
                    img:nth-child(1) {
                        display: none;
                    }
                    img:nth-child(2) {
                        display: block;
                        position: absolute;
                        z-index: 2;
                        transform: translateX(95px) translateY(405px);
                    }
                    p {
                        font-size: 24px;
                        width: 500px;
                        transform: translateX(50px) translateY(515px);
                    }
                }
            }
            .product__collab {
                width: 100%;
                height: auto;
                margin-top: 200px;
                margin-left: 25px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                .product {
                    width: 250px;
                    height: 460px;
                    background: #ffffff;
                }
                .product:nth-child(n + 3) {
                    display: none;
                }
            }
            .collab_2 {
                display: block;
                height: auto;
                margin-top: 100px;
                .collab__img {
                    width: 590px;
                    margin-left: 50px;
                    position: absolute;
                    z-index: 2;
                    box-shadow: 0px 15px rgba(0, 0, 0, 0.05);
                }
                .collab_title_1 {
                    width: 600px;
                    height: 710px;
                    background: #ffffff;
                    transform: translateX(30px) translateY(45px);
                    position: relative;
                    box-shadow: 15px 15px rgba(0, 0, 0, 0.05);
                    img:nth-child(1) {
                        display: none;
                    }
                    img:nth-child(2) {
                        display: block;
                        position: absolute;
                        z-index: 2;
                        transform: translateX(150px) translateY(410px);
                    }
                    p {
                        font-size: 24px;
                        width: 500px;
                        transform: translateX(50px) translateY(515px);
                    }
                }
            }
            .jetcap {
                margin-top: 200px;
                margin-bottom: 50px;
            }
        }
        .outdoors {
            width: 100%;
            height: 790px;
            background: url(../img/bg_outdoors_sp.jpg) no-repeat center;
            text-align: center;
            color: #ffffff;
            h4 {
                font-size: 35px;
                padding-top: 150px;
            }
            p {
                width: 80%;
                font-size: 24px;
                padding-top: 100px;
                text-align: left;
                margin-left: 55px;
            }
        }
        .about {
            padding: 55px 55px 55px 55px;
            img {
                width: 285px;
                height: 100px;
                transform: translateX(45%) translateY(45%);
            }
            h4 {
                font-size: 32px;
                transform: translateX(10%) translateY(-50%);
            }
            p {
                font-size: 24px;
                margin-top: 50px;
                margin-left: 10px;
            }
        }
        .setout {
            width: 100%;
            height: 400px;
            background: url(../img/bg_collab.jpg);
            margin-top: 100px;
            img {
                width: 150px;
                height: 175px;
                padding: 10px;
                margin-left: 50px;
                transform: translateY(-41%);
            }
        }
        video {
            width: 590px;
            height: 333px;
            transform: translateX(25px) translateY(-75%);
        }
        .director {
            width: 100%;
            display: block;
            margin-top: -150px;
            img {
                margin-left: 25%;
            }
            .info {
                width: 84%;
                transform: translateX(8%);
                text-align: center;
                p:nth-child(1) {
                    text-align: center;
                    font-size: 20px;
                }
                p {
                    font-size: 22px;
                    text-align: left;
                }
                h4 {
                    font-size: 36px;
                    padding-bottom: 10px;
                }
                h5 {
                    font-size: 20px;
                    padding-bottom: 20px;
                }
            }
        }
        .introduction {
            width: 100%;
            margin: 70px 25px 50px 35px;
            img {
                width: 565px;
                height: 85px;
            }
            h4 {
                font-size: 30px;
                transform: translateX(35%) translateY(-160%);
            }
            .introduction_info {
                display: flex;
                .introduction_img {
                    padding-right: 20px;
                    img {
                        width: 275px;
                        height: 185px;
                    }
                    p {
                        font-weight: bold;
                        font-size: 22px;
                        padding-top: 10px;
                    }
                }
            }
        }
        .events {
            width: 90%;
            margin: 10px 30px 10px 30px;
            img {
                transform: translateX(60%);
            }
            .events_info {
                width: 100%;
                padding: 20px;
            }
            h4 {
                font-size: 30px;
                transform: translateX(26%) translateY(-130%);
            }
            hr {
                width: 95%;
                margin-left: 20px;
            }
            span {
                color: #b9b9b9;
            }
            p {
                width: 100%;
                font-weight: bold;
                font-size: 24px;
            }
        }
    }
}