.footer {
    width: 100%;
    height: 570px;
    .footer__1 {
        width: 100%;
        height: 265px;
        background: #0b4096;
        color: #ffffff;
        .cols {
            display: flex;
            flex-wrap: wrap;
            margin-left: 150px;
            .col {
                padding: 10px 95px;
                margin-top: 30px;
                h5 {
                    transform: translateX(-20px);
                }
            }
            .col:nth-child(3) p:nth-child(5) {
                transform: translateX(-20px);
            }
            .col:nth-child(n+4) {
                border-left: 0.001px solid #bdbbbb;
                width: 310px;
            }
        }
    }
    .footer__2 {
        width: 100%;
        height: 265px;
        display: flex;
        .left {
            width: 65%;
            border-right: 1px solid #eeeeee;
            padding-left: 150px;
            padding-right: 20px;
            &__info {
                display: flex;
                border-bottom: 1px solid #eeeeee;
                height: 50%;
                p {
                    padding: 50px 50px;
                }
                p:nth-child(2) {
                    margin-left: 250px;
                }
            }
            &__info:nth-child(2) {
                border-bottom: none;
            }
        }
        .right {
            width: 35%;
            height: 265px;
            padding-left: 20px;
            padding-top: 100px;
        }
    }
    .copyright {
        width: 100%;
        height: 40px;
        background: #eeeeee;
        display: flex;
        padding-top: 10px;
        padding-left: 150px;
        p {
            padding-left: 70px;
        }
        p:nth-last-child(1) {
            transform: translateX(100%);
        }
    }
}

.footer__sp {
    display: none;
}

@media (max-width: 640px) {
    .footer {
        display: none;
    }
    .footer__sp {
        display: block;
        width: 100%;
        height: 255px;
        text-align: center;
        p {
            font-size: 30px;
            color: #0b4096;
            padding-top: 10%;
        }
    }
}