* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

.app {
  width: 100%;
  overflow-x: hidden;
  background-color: #ffffff;
  margin: 0 auto;
}

@media (max-width: 640px) {
  * {
    font-size: 16px;
  }
  body {
    width: 640px;
    margin: 0;
    overflow-x: hidden;
  }
}
